DATABASE_URL=postgresql://mihai:admin@localhost:5432/test
JWT_SECRET=a2e6624e-c04c-4eff-a692-6c8c139d51f3
PORT=9090

CLOUDINARY_NAME=
CLOUDINARY_PUBLIC=
CLOUDINARY_PRIVATE=

WOO_COMMERCE_PUBLIC_KEY=ck_1d54577d1c15600d08b3473cd888aed8c3b5d1db
WOO_COMMERCE_PRIVATE_KEY=cs_62c84a920f638eafa165cb1d2abe042e7a107cf5

LOCALHOST_SRC_REPLACEMENT=https://pe8zx05jbtba.share.zrok.io

STRIPE_PUBLIC_KEY=
STRIPE_PRIVATE_KEY=

RECOMMENDATION_SERVICE_URL=http://localhost:8080
MOBILE_APP_DIRECTORY=/home/mihai/documents/master-mobile